*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
header{
    background-color: rgb(39, 65, 124);
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.container{
    padding: 100px;
}
input{
    outline: none;
    padding: 20px;
    width: 70%;
    font-size: 18px;
    border: none;
}
#add-btn{
    padding: 20px;
    font-size: 18px;
    width: 20%;
    letter-spacing: 2px;
    border: none;
    background-color: lightblue;
    font-weight: 700;
    color: green;
    text-shadow: 1px 1px 1px black;
}
#add-btn:hover{
    background-color: green;
    color: white;
    transition: all 400ms ease;
}

#add-btn:active{
    transform: translateY(10px);
}
#innerdiv{
    display: flex;
    margin-top: 2rem;
}
#del-btn{
    padding: 20px;
    text-align: center;
    font-size: 18px;
    height: 60px;
    width: 20.5%;
    letter-spacing: 2px;
    border: none;
    background-color: lightblue;
    border-left: 5px solid black;
    font-weight: 700;
    color: red;
    text-shadow: 1px 1px 1px black;
}
#div li{
    padding: 20px;
    width: 70%;
    font-size: 18px;
    background-color: white;
    list-style-type: none;
    text-transform: capitalize;
}

#del-btn:hover{
    background-color: red;
    color: white;
    transition: all 400ms ease;
}

#del-btn:active{
    transform: translateY(10px);
}

@media (max-width : 751px) {
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }
  input{
    width: 100%;
    font-size: 26px;
    text-align: center;
    border: 1px solid black;
  }
  #add-btn{
    margin-top: 2rem;
    width: 50%;
    border: 1px solid green;
  }
  #innerdiv{
    align-items: center;
    display: flex;
    width: 400px;
    flex-direction: column;
  }
  #div li{
    width: fit-content;
    border: 1px solid black;
    padding: 10px 40px;
    text-align: center;
    font-size: 26px;
  }
  #del-btn{
    width: 50%;
    margin-top: 1rem;
    border: 1px solid red;
  }
}
@media (max-width : 400px){
    #add-btn{
        margin-top: 20px;
        padding: 5px;
    }
    #innerdiv{
        width: 200px;
    }
    #del-btn{
      
        height: 20px;
        text-align: center;
        padding: 0;
    }
    input{
        font-size: 20px;
        padding: 5px;
    }
    #div li{
        font-size: 20px;
        padding: 10px;
    }
}
